@import '../../mixins';
@import '../../variables';

.center {
  display: flex;
  justify-content: center;
}

.main {
  position: relative;
  padding-top: 40px;
  @include flex-center;
  @include max-width;
  flex-direction: column;

  button {
    font-size: 1.1rem;
    position: absolute;
    right: 20px;
    top: 40px;
    border: none;
    color: $colorGreen;
    @include flex-center;
    padding: 12px;
    width: 180px;
    border-radius: 7px;
    box-shadow: $boxShadow;

    &:hover {
      color: $colorWhite;
      background-color: $colorGreen;
      cursor: pointer;
    }
  }

  h1 {
    margin-bottom: 10px;
  }
}
