@import '../../variables';

.button {
  min-width: 70px;
  background-color: $colorWhite;
  border: 3px solid $colorPrimary;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 6px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    border-color: $colorPrimary;
    background-color: $colorPrimary;
    color: $colorWhite;
  }

  &:disabled {
    border: 3px solid $colorLightGrey;
    color: 3px solid $colorLightGrey;
    color: $colorLightGrey;

    &:hover {
      background-color: $colorWhite;
      color: $colorLightGrey;
    }
  }
}
