$colorBlack: black;
$colorGrey: grey;
$colorLightGrey: lightgrey;
$colorVeryLightGrey: rgb(231, 231, 231);

$colorRed: rgb(190, 36, 36);
$colorPrimary: rgb(47, 90, 247);
$colorGreen: rgb(0, 191, 0);
$colorDarkGreen: rgb(0, 117, 0);
$colorWhite: rgb(255, 255, 255);

$borderBottom: 1px solid black;
$border: 1px solid black;
$boxShadow: 0px 0px 5px $colorLightGrey;
$borderRadius: 12px;

$headerHeight: 60px;
